<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>Dou NetWorks</title>

  <!-- Bootstrap Core CSS -->
  <link href="../../bower_components/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Custom Fonts -->
  <link href="../../bower_components/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="../../bower_components/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="../../dist/css/mycss/apply/mainApply.css">
  <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
  <!-- Custom CSS -->
  <link href="../../dist/css/mycss/apply/stylish-portfolio.css" rel="stylesheet">
  <!--sweetalert-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <style>
  #changeCV {
     cursor: epointer;
    /* Style as you please, it will become the visible UI component. */
   }
  #upload-cv{
     opacity: 0;
     position: absolute;
     z-index: -1;
  }
  </style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-times"></i>
  </a>

  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#job">Recruitment information</a>
      </li>
      <li class="sidebar-nav-item" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">
        <a class="js-scroll-trigger" href="#">Application</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
       <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="">Login</a>
      </li>
    </ul>
  </nav>
   
  <!--Apply form-->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Title Modal -->
        <div class="modal-header">
          <h3>APPLYCATION</h3>
          <button type="button" class="close btn-danger" data-dismiss="modal" > &times; </button>
        </div>
        <!-- Modal body content -->
        <div class="modal-body">
          <form id="frm1" action="#" th:action="@{/homeApply}" th:object="${formapply}" method="post"  enctype="multipart/form-data">
            <!-- Identity card number -->
              <div class="form-group">
                <label>Identity card number  <span class="text-danger">&lowast;</span></label>
                <input type="text" th:field="*{f_idcard}" class="form-control" placeholder="Between 3 and 32 characters"/>
               	<span th:if="${#fields.hasErrors('f_idcard')}" th:errors="*{f_idcard}" ></span>
              </div>
              <!-- Full Name  -->
              <div class="form-group">
                <label>Full Name <span class="text-danger">&lowast;</span></label>
                <input type="text" class="form-control" th:field="*{f_name}"/>
                <span th:if="${#fields.hasErrors('f_name')}" th:errors="*{f_name}">na</span>
              </div>
              <!-- Gender -->
              <div class="form-group">
                <label>Gender</label>
                <div class="form-inline">
                  <div class="b-first">
                    <input type="radio" th:field="*{f_gender}" value="Male" checked/>
                    <span class="ml-1">Male</span> 
                  </div>
                  <div>
                    <input type="radio" th:field="*{f_gender}" value="Female"/>
                    <span class="ml-1">Female</span>
                  </div>
                </div>
              </div>
              <!-- Date of birth -->
              <div class="form-group">
                <label>Date of Birth</label>
                <input type="text" class="form-control" id="DOB" th:field="*{f_DOB}" />
              </div>
              <!-- Positon apply -->
              <div class="form-group">
                <label>Possiton</label>
                <select th:field="*{f_position}" id="position" class="form-control">
                  <option value=""></option>
                  <option  th:each="item : ${titleList}" th:value="${item.idPos}" th:text="${item.name}"></option>
                </select>
                <span th:if="${#fields.hasErrors('f_position')}" th:errors="*{f_position}"></span>
              </div>
              <!-- Email -->
              <div class="form-group">
                <label>Email <span class="text-danger">&lowast;</span></label>
                <input type="email" th:field="*{f_email}" class="form-control"/>
                <span th:if="${#fields.hasErrors('f_email')}" th:errors="*{f_email}"></span>
              </div>
              <!-- Phone -->
              <div class="form-group">
                <label>Phone <span class="text-danger">&lowast;</span></label>
                <input type="text" th:field="*{f_phone}" class="form-control">
              </div>
              <!-- Skill -->
              <div class="form-group">
                <label>Work Exp</label>
                <textarea rows="5" class="form-control" th:field="*{f_workExp}"></textarea>
              </div>
              <!-- upCV -->
              <div class="form-group">
                <a><label id="changeCV" class="btn btn-primary" for="upload-cv">CV</label></a>
                <input type="file" id="upload-cv" th:field="*{f_filedata}"/>
              </div>
          </form>
        </div>

        <div class="modal-footer">
          <!-- write AJAX, send applycation -->
          <button type="button" id="sendapply" class="btn btn-success">Apply</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto col-lg-8">
      <div><h1 class="mb-1 d-inline-block text-white" style="font-size: 9rem;">DOU</h1><h2 class="mb-1 d-inline-block  text-white" style="font-size: 5rem;"> Networks</h2></div>
      <br>
         <a class="btn btn-primary btn-xl js-scroll-trigger" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Apply Now</a>
    </div>
    
  </header>

 <!-- Services -->
  <!-- Modal detail -->
  <div class="modal" id="myModal2">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <span></span>
            <h3 style="text-align: center;" id="titleP"></h3>
            <span id="i_position" hidden="" ></span>
            <span></span>
          </div>
          <div class="modal-body">
            <div>
              <h4>Detail description</h4>
              <textarea id="area1" disabled></textarea>
              <h4>Requirement</h4>
              <textarea id="area2" disabled></textarea>
              <h4>Benefit</h4>
               <textarea id="area3" disabled>
              </textarea>
            </div>
         
            </div>
            <div align="center" class="mt-5" >
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-dismiss="modal"  data-backdrop="static" data-keyboard="false" onclick="fillform();" >APPLY NOW</button>
            </div>
            <br/>
          </div>
        </div>
      </div>
  <section class="content-section bg-primary text-white text-center" id="job">
    <!-- View Positon -->
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Recruitment information</h3>
        <h2 class="mb-5">WE NEED YOU</h2>
      </div>
      <div class="row">
		
		<!-- Item   -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 mt-5 myjob"  data-toggle="modal" data-target="#myModal2"  th:each="item : ${titleList}">
          <a class="myitem">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong th:text="${item.name}"></strong>
              <input type="text" th:value="${item.idPos}" hidden="">
            </h4>
            <div class="mycontent">
            	<span th:text="${item.area}"></span><br/>
            	<span th:text="${item.expDate}"></span>
            </div>
           </a>
        </div>
      </div>
    </div>
  </section>


<!-- /Item  -->

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>CONTAINER sHIPPING</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" height="100%" width="100%" src="./../../dist/img/apply/container_shipping.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>CONTAINER TERMINAL</h2>
                <p class="mb-0">can tuyen lap trinh vien </p>
              </span>
            </span>
            <img class="img-fluid" height="100%" width="100%" src="./../../dist/img/apply/container_terminal.jpg" alt="">
          </a>
        </div>
           <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>MACHINE LEARNING</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" height="100%" width="100%" src="./../../dist/img/apply/machine_learning.png" alt="">
          </a>
        </div>
        <div class="col-lg-6  ">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>FORWARDING</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" height="100%" width="100%"  src="./../../dist/img/apply/forwarding.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4937.7801900813465!2d106.64958756805169!3d10.802213135090842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529485ae13a11%3A0x184cb4c8ad092d57!2sDOU+Networks!5e0!3m2!1svi!2s!4v1552461451678" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>  

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 

  <!-- Bootstrap core JavaScript -->
  <script src="../../bower_components/vendor/jquery/jquery.min.js"></script>
  <script src="../../bower_components/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="../../bower_components/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <!-- Custom scripts for this template -->
  <script src="../../dist/js/apply/stylish-portfolio.min.js"></script>
</body>

<script>
/* Auto scale textarea */
  function expandDetail() {
     var des = $("#area1").prop("scrollHeight");
     var req = $("#area2").prop("scrollHeight");
     var ben = $("#area3").prop("scrollHeight");
        
     $("#area1").css("height",des+"px");
     $("#area2").css("height",req+"px");
     $("#area3").css("height",ben+"px");
  }
  /* auto fillform apply from RECRUITMENT  */
  function fillform(){
	  console.log($("#i_position").text());
	  $("#position").val($("#i_position").text());
	  console.log($("#position").val());
	  
	};
  /* Button open rank list */
  $(".btn-opl").click(function() {
    $("#Ranking-list").toggleClass("close-rank");
  })
	$('#DOB').datepicker({
	     autoclose: true,
	     format:"dd/mm/yyyy"
    })
/*Change name file input*/
 $('input[type="file"]').change(function(e){
    var fileName = e.target.files[0].name;
    $("#changeCV").text(fileName);            
});
 
  
  /*get Content Position*/
  $(".myitem").click(function(){
	  var data ={};
	  data["idPos"]= $(this).find("input").val();
	  data["name"]=$(this).find("strong").text();
	  $.ajax({
		type: "POST",
		contentType: "application/json",
		data:JSON.stringify(data),
        url: "/getcontent",
        success: function(data){
            $("textarea").css("height","50px");
            $("#titleP").text(data.name);	
        	$("#area1").text(data.description);
        	$("#area2").text(data.requirement);
        	$("#area3").text(data.benefit);
        	$("#i_position").text(data.idPos);
        	expandDetail();
        },
        error:function(e){
            console.log(e)
        }
	}) 
});
  $("#sendapply").on("click",function(){
		$("#frm1").submit();
	})
</script>

</html>